
*{
   outline: -webkit-focus-ring-color auto 0px !important;
}
a:hover{
    text-decoration: none;
}
.capa-home{
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.header{
    padding-top: 10vh;
    position: absolute;
    z-index: 99999;
    width: 100%;
}
.container-nav{
    height: 85px;

    background: white;
    border-radius: 5px;
}
.nav-logo{
    height: 85px;
}
.navbar-nav li a{
    font-size: 11px;
}

.autoplay{

    height: 100vh;
}
.autoplay img{

    height: 100vh;
}
.text-portada{
    display: grid;
    position: relative;
    align-content: center;
    height: 100vh;
}
.titulo{
    padding-top: 60px;
}
.leer-mas{
    padding-top: 37px;
}
.leer-mas a{
    color: white;
    background: #ee0108;
    padding: 10px 25px;
    border-radius: 5px;
}
.get-social{
    display: flex;
    float: right;
}
.get-social a{
    background: #585555;
    padding: 7px;
    color: black;
    border-radius: 2px;
    margin-left: 10px;
}
.f-portada{
    position: absolute;
    bottom: 0;
    background: #ee0108;
    border-radius: 6px 6px 0 0;
}
.f-portada h4{
    font-size: 10px;
    font-weight: bold;
}
.f-portada p{
    font-size: 9px;
}
.f-info{
    padding-top: 10px;
}
.service{
    padding: 80px 0 40px;
}
.back-presente{
    background: #ee0108;
    color: white;
    padding: 30px;
}
.presente h2{
 font-size: 20px;
 font-weight: bold;
 padding-bottom: 50px;
}
.service h2{
    font-size: 20px;
}
.service p{
    font-size: 13px;
    color: #676565;
}
.service p strong{
    color: #ee0108;
}
.linea-s{
    padding-top: 20px;
}
.back-presente p{
    font-style: italic;
}
.text-service h3{
    font-size: 11px;
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 17px;
}
.leer-service strong{
    font-size: 9px;
}
.img-service img{
    border-radius: 10px;
}
.suscribirte{
    font-size: 10px;
}
.footer{
    padding: 50px 0;
    position: relative;
    background: #444343;
    margin-top: -20px;
    color: white;
}
.footer a{
    color: white;
}
.footer h3{
    font-size: 18px;
}
.footer p,
.footer li{
    margin-bottom: 0px;
    font-size: 13px;
}
.separador-f{
    border-bottom: 1px solid;
    margin-bottom: 15px;
}
.navegacion-f p{
    border-bottom: .4px solid;
}
.copy{
    color: white;
    background: #1b1b1b;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}
.text-contact{
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}
.text-contact h3{
    font-size: 20px;
}
.form-style input[type="text"],
.form-style input[type="email"]{
    width: 100%;
    padding: 4px;
    background: #e4e4e4;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
}
.form-style textarea{
    width: 100%;
    background: #e4e4e4;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
}
.form-style legend{
    padding-top: 14px;
    font-size: 10px;
}
.form-style legend strong{
    color: #ee0108;
}
.form-style input[type="submit"]{
 color: white;
 background: #ee0108;
 padding:7px 25px;
 border-radius: 5px;
 border: none;
 float: right;
 margin-top: 15px;
}
.equipo{
    padding: 50px 0;

}
.c-equipo{
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.c-equipo h2{
    padding-top: 6px;
    font-size: 20px;
}
.c-equipo p{
    font-size: 10px;
    color: #636363;
}
.c-equipo a{
    position: absolute;
    right: 0;
    color: white;
    top: 0;
    background: #ee0108;
    padding: 8px 20px;
    font-size: 11px;
    border-radius: 5px;
}
.info-equipo p{
   font-size: 12px;
   font-weight: bold;
}
.info-equipo li{
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 10px;
}
.cursos{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}
.cursos strong{
    color: #ee0108;
}
.content-img-person{
    width: 100px;
}
.content-person{
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-gap: 10px;
 padding-bottom: 78px;
}
.content-person strong{
    font-size: 17px;
    color: #ee0108;
}
.content-person p{
    font-size: 10px;
}
.content-img-person img{

    border-radius: 10px;
}
.border-bottom{
    border-bottom: 1px solid #ccc;
}
.fondo-instalaciones{
    background-image: url(../img/04.jpg);
    background-size: cover;
    background-position-y: -200px;
    object-fit: cover;
    height: 80vh;
}
.text-instalaciones{
    background: #0000007d;
    padding: 0px 0 20px;
    color: white;
}
.text-instalaciones p{
 background: #ee0108;
 padding-bottom: 8px;
 padding-top: 8px;
}
.instalaciones h2{
    font-size: 20px;
}
.titulo-instalaciones p{
    font-size: 10px;
}
.titulo-instalaciones{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.capa{
    background: rgba(0, 0, 0, 0.6);
    height: 80vh;
    display: grid;
    align-items: baseline;
}
.opinion .slick-next {
    top: -70px;
    padding: 0px;
    z-index: 999;
    right: 15px;
}
.opinion .slick-prev{
    top: -70px;
    z-index: 999;
    left: 465px;
}
.opinion .slick-prev:before {
    content: "\f104" !important;
    font: 35px fontawesome;
    background: #808893;
    padding: 0 10px;
    border-radius: 3px;
}
.opinion .slick-next:before {
    content: "\f105" !important;
    font: 35px fontawesome;
    background: #808893;
    padding: 0 10px;
    border-radius: 3px;
}
.text-opinion{
    background: #e4e4e4;
    height: 42vh;
}
.centrar-grid{
    display: grid !important;
    align-items: center;
    height: 42vh !important;
}
.centrar-grid p{
    padding: 0px 60px;
    font-size: 16px;
    font-style: italic;
}
.content-opinion h4{
    padding-top: 10px;
    font-size: 18px;
    color: #ee0108;

}
.content-img-inst{
 padding: 15px 30px 30px;
}
.content-img-inst img{
    border-radius: 7px;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.39);
}

.autoplay-2 .slick-next:before {
   display: none;
}
.autoplay-2 .slick-prev:before{
    display: none;
}
.maquinarias{
    padding: 50px 0;
}
.titulo-maqui h4{
    font-size: 17px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-card-maqui{
    border: 1px solid #ccc;
    height: 70vh;
}
.content-text-maqui h5{
    margin-top: 47px;
    padding: 20px;
    font-size: 15px;
    border-top: 4px solid #ee0108;
}
.content-text-maqui p{
    font-size: 13px;
    color: #737373;
    padding: 10px 20px;
}
.separador-maqui{
    padding: 0 35px;
}
.content-border{
    border-bottom: 1px solid #ccc;
    padding-bottom: 80px;
}
.compromiso{
    background-image: url(../img/DSC_0693.JPG);
    height: 95vh;
    background-size: cover;
    background-position-y: -264px;
}
.capa-compromiso{
   background: rgba(238, 1, 8, 0.8);
   color: white;
   height: 95vh;
   display: grid;
   align-items: center;
}
.text-comp strong{
    color: yellow;
}
.titulo-comp strong{
    border-bottom: 3px solid;
}
.titulo-comp h4{
    padding-bottom: 20px;
}
.text-comp p{
    padding-bottom: 20px;
}